
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  body {
    display: flex;
    justify-content: center; 
    margin: 0;
  }
  
  .layout {
    justify-content: center;
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "footer" auto / 100%;
    gap: 5px 8px;
    width: 100%;
    
  }
  
  .header {
    grid-area: header;
    display: flex;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
  
  }
  
  .nav {
    flex: 1;
    text-align: center;
  
  }
  
  .nav a {
    font-size:larger;
    text-decoration: none;
    font-style: italic;
    margin-right: 150px;
  }
  
  .logo {
    margin-left: auto;
    max-width: 200px;
  }
  
  .pers-info {
    margin-left: auto;
    
  }
  
  .pers-info p {
    margin-right: 15px;
    font-size: 25px;
  }
  /*Main*/
  .main {
    grid-area: main;
    align-items: center;
    display: column;
    margin-right: 5%;
    margin-left: 5%;
  }
.separator {
  display: flex;
  gap: 300px;
  align-items: center;
  
}
.text {
  display: column;
  text-align: left;
  margin-left: 10px;
  font-size: large;
}
.text p {
  margin-bottom: 40px;
}
.image {
  margin-right: 0%;
}
.image img {
  height: 400px;
}
/*al reves*/
.separatorl {
  display: flex;
  gap: 300px;
  align-items: center;
  
}
.textl {
  display: column;
  text-align: left;
  margin-left: 10px;
  font-size: large;
}
.textl p {
  margin-bottom: 40px;
}
.imagel {
  margin-left: 0%;
}
.imagel img {
  height: 400px;
}
  /*footer*/
  
.footer {
  grid-area: footer;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  
  
}

.info {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.SocialMedia,
.Location,
.Email {
  flex: 1;
  
}
