
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  body {
    display: flex;
    justify-content: center; 
    margin: 0;
  }
  
  .layout {
    justify-content: center;
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "footer" auto / 100%;
    gap: 5px 8px;
    width: 100%;
    
  }
  
  .header {
    grid-area: header;
    display: flex;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
  
  }
  
  .nav {
    flex: 1;
    text-align: center;
  
  }
  
  .nav a {
    font-size:larger;
    text-decoration: none;
    font-style: italic;
    margin-right: 150px;
  }
  
  .logo {
    margin-left: auto;
    max-width: 200px;
  }
  
  .pers-info {
    margin-left: auto;
    
  }
  
  .pers-info p {
    margin-right: 15px;
    font-size: 25px;
  }
  /*productos*/
  
.productos {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.titulo {
  margin-left: -72%;
  
}
.protecciones {
  margin-left: -66%;
  
}

.ofertas h2 {
  margin-top: 100px;
}

.card-container {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card {
  max-width: 300px;
  border: 1px solid;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  border-color: #333;
  border-radius: 4%;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  max-height: 350px;
  max-width:270px;
}
.card:hover {
  transform: scale(1.1); 
}

.card img {
  width: 100%;
  height: auto;
}

.card h2 {
  margin-top: 10px;
}

.card .price {
  color: green;
  font-size: 1.2em;
  margin-top: 10px;
}

.footer {
  grid-area: footer;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.info {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.SocialMedia,
.Location,
.Email {
  flex: 1; 
  
}
 